body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
h1 {
  color: #333;
  margin-top: 50px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
  color: cornflowerblue;
}

.box {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgb(247, 93, 93);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  align-items: center;
}
#search-box {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

#search-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: #45a049;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3 1fr);
}
.container {
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  margin: 1em;
}
.container:hover {
  background-color: #f5f5f5;
}

.container button:hover {
  transform: scale(1.05);
}
.container {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
}
.container button {
  margin-top: 1em;
  padding: 1em 0;
  border-radius: 8px;
}
.loader {
  display: none;
  height: 4rem;
  width: 4rem;
  border: 3rem solid #2b304d;
  border-radius: 50%;
  border-top-color: #45a049;
  position: absolute;
  top: calc(50% + 50px); /* Adjusted position to be below search box */
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 3s infinite;
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

@media only screen and (max-width: 1080px) {
  /* Adjustments for smaller screens */
  .box {
    max-width: 90%;
    margin: 50px auto;
  }

  .search-container {
    flex-direction: column;
  }

  #search-box {
    width: 100%;
    margin-bottom: 10px;
  }

  #search-btn {
    width: 100%;
  }

  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
